.nav-container{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-family: 'Cormorant Garamond', serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: white;
  }
  
  .nav-item{
    display: flex;
    align-self:center;
    order:3;
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    display: inline-block;
  }
  
  /* .nav-item div {
      display: inline-block;
  } */
  
  .nav-item a {
      color: #D97855;
      font-size: 20px;
      font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    padding: 13px;
  } 
  .nav-item a:hover, .nav-item a.active {
    color: #ffffff;
    background-color: #D97855;
    position: relative;
    display: inline-block;
    
  }
  .nav-item-dropdown {
    display: flex;
    align-self:center;
    order:3;
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    display: inline-block;
  }
  .dropbtn {
    background-color: white;
    padding: 13px;
    border: none;
    
    color: #D97855;
      font-size: 20px;
      font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 15px;
    box-shadow: 0px 10px 10px 0px rgba(255,255,255,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 5px;
    display: block;
    color: #D97855;
      font-size: 20px;
      font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
  }
  
  .dropdown-content a:hover {color: white; background-color:#D97855;}
  
  .nav-item-dropdown:hover .dropdown-content {display: block;}
  
  .nav-item-dropdown:hover .dropbtn {background-color: #D97855; color: white;}


  /* END OF NAV */

  /* Start of the book */


  body {
    background-color: white;
    }

  h1{
    text-align: center;
    border: 1px solid red;
    outline: 5px dotted green;
}

  .container{
      display: flex;

      border: 1px solid red;
      outline: 2px dashed blue;
  }

  .pages {
    display: flex;
    flex-grow: 4; /* default 0 */
    border: 1px solid red;
    outline: 2px dashed blue;
    height: 50px;
    background: yellow;
    width: 50px;
    height:600px;
    margin-top: 10px;
    margin-bottom: 10px;

  }
 /* .page2 {
    display: flex;
    flex-grow: 4; /* default 0 */
    /* border: 1px solid red;
    outline: 2px dashed blue;
    height: 50px;
    background: yellow;
    width: 50px;

  } */ 