 .nav-container{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-family: 'Cormorant Garamond', serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: white;
}

.nav-item{
  display: flex;
  align-self:center;
  order:3;
  font-family: 'Cormorant Garamond', serif;
}

.nav-item div {
	display: inline-block;
}

.nav-item a {
	color: #D97855;
	font-size: 20px;
	font-weight: 300;
	/* margin-left: 40px; */
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bolder;
} 
.nav-item a:hover, .nav-item a.active {
  color: #ffffff;
  background-color: #D97855;
}
 body{
   background: white;
   margin: 0;
   margin-top: 75px;
 }
 
 h4{
   text-align: left;
   color: black;
   padding: 10px;
   font-family: 'Cormorant Garamond', serif;
 }
 img{
   position: relative;
   overflow: hidden;
   width:100%;
   height:auto;
 }
 
 .grid-container {
   display: grid;
   grid-template-columns: auto auto auto;
   align-items: stretch;
   font-family: 'Caveat', cursive;
 
 }
 #text {
   color:white;
   text-align: center;
   position: sticky;
   display: inline-grid;
   opacity:0.7;
   align-self: end;
   display: grid;
 }
 .grid-item {
   border-style: solid;
   border-color: white;
   border-width: 10px;
   position: relative;
   display: inline-block;
 } 
 .flex-container{
   display: flex;
   justify-content: space-evenly;
   color: white;
   padding: 30px;
   font-family: 'Cormorant Garamond', serif;
  
 }
 .flex-item{
   display: flex;
   align-self:center;
   order:3;
   color: #000;
   font-size: 13px;
   font-weight: 300;
   /* margin-left: 40px; */
   letter-spacing: 2px;
   text-transform: unset;
   width: 50px;
   height: 50px;
 }

 .content{
   background-color: #D97855;
   margin-left: 10px;
   margin-right: 10px;
   padding: 10px;
   display: flex;
   flex-flow: auto auto;
   align-items: center;
 }

 h3{
   color: white;
   margin-left: 10px;
   margin-right: 10px;
   font-family: 'Cormorant Garamond', serif;
   font-size: 20px;
   letter-spacing: 2px;
   font-weight: bolder;
 }
 h1{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bolder; 
}

 * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.staff-container {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  grid-template-columns: auto auto auto auto;
  align-items: stretch;
  font-family: 'Caveat', cursive;
}