body {
background-color: white;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
div {
    display: flex;
}
button {
    padding: 25px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: white;
    border: 1px solid rgb(0,0,0);
}

img{
    padding-top: 10px;
    position: relative;
    overflow: hidden;
    width:100%;
    height:auto;
  }